body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

#gamescreen{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: brown;
    
}