body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

#gamescreen{
    background-image: url("Sprites/88_PC\ _\ Computer\ -\ Stardew\ Valley\ -\ Minigames\ -\ Journey\ of\ the\ Prairie\ King.png");
    border-style: solid;
    border-color: brown;
    
}