    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atualizar_carro</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="cadastrar">
        
        <h1>Formulário de criação de carros</h1>
            <h2>Informações antigas</h2>
            <form action="/update_carro" method="post">
            <p>marca: <br><input type="text" name="marca"></p>
            <p>Modelo: <br><input type="text" name="modelo"></p>
            <p>Ano: <br><input type="text" name="ano"></p>

            <h2>Novas informações</h2>
            <p>marca: <br><input type="text" name="new_marca"></p>
            <p>Modelo: <br><input type="text" name="new_modelo"></p>
            <p>Ano: <br><input type="text" name="new_ano"></p>
            <p>Quantidade: <br><input type="number" name="new_quantidade"></p>
            <input type="submit" value="Enviar">
        </form>

            </div>

    </body>
    </html>