<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta_cadastro_carro</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    
    <div id="login_correto">
    <%= resposta %>
    <h2>Volte para o app</h2>
    <a href="/app">App</a>

</body>
</html>