<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resposta_errada_login</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <div id="login_incorreto">
    <%= resposta %>
    <h2>Tente novemente</h2>
    <a href="/home.html">Home</a>
    </div>
</body>
</html>