#pagina_create{
    background-color: bisque;
}

#cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-flow: column;
    height: 400px;
    width: 600px;
    border-style: solid;
    background-color: antiquewhite;
    justify-self: center;
}

#cadastro{
    font-weight: bold;
    text-align: center;
    color: green;
    font-size: 50px;


}

.postagens{

    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 680px;
    font-size: 10px;
}

#pagina_blog{
    background-color: bisque;
}

#post_box{
    background-color:rgb(235, 235, 229);
    padding: 10px;
    width: 750px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    border-radius: 15px;

}

#titulo{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#resposta{
    text-align: center;
}
