body {
    background-color: beige;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

#bloco1 {
    height: 500px;
    display: flex;
    width: 90%;
    border-style: solid;
    border-color: brown;
    background-color: darksalmon;
    justify-self: center;
    align-items: center;
    flex-flow: column;
}

#bloco1 #data{
    height: 40px;
    width: 200px;
}

#bloco1 button{
    height: 40px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bold;
    
}

#bloco1 button:hover{
    height: 40px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bold;
    background-color: bisque;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: black;
}



#titulo {
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;

}