body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: black;
        font-size: 20pt;
}

h1{
    color: brown;
    text-align: center;
    font-size: 60pt;
    text-shadow: 5pt;
    -webkit-text-stroke: 0.5px black;
}

h2{
    color: rgb(83, 82, 82);
    text-align: center;
    font-size: 25pt;
    -webkit-text-stroke: 0.5px black;
}

h3{
    color: brown;
    text-align: center;
    font-size: 20pt;
    -webkit-text-stroke: 0.5px black;
}

.destaque{
    color: brown;
    text-decoration: underline;

}

img{
    width: 400pt;
}

.destaque2{ 
    color: brown;
    text-decoration: underline;
    font-size: 25pt;

}